.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin hoverBlur {
  &:hover
  {
    transition: 0.1s;
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
  }
}

.select-сlass {

  border: 1px solid #ced4da;
  border-radius: .25rem;

  div:first-of-type {
    border: none;
    box-shadow: none;
  }

  transition: 0.1s;

  @include hoverBlur;
}

.form-сreate-user  {
  input {
    @include hoverBlur;
  }

  @media screen and (max-width: 767px) {
    .form-row {
      display: block;
    }
    .col {
      margin-bottom: .5rem;
    }
  }
}

.birthday-block {
  display: inline-block;

  @media screen and (max-width: 767px) {
      display: block;
  }
}